Body {
    font-family: sans-serif;
    color: white;
    display: grid;
    place-items: center;
    background-image: url("_imagens/background.jpg");
}
h1 {
    font-size: 25pt;
    font-weight: bold;
    text-shadow: 3pt 3pt 6pt rgb(135, 156, 247);
    color: rgb(255, 255, 255);
}
h2 {
    font-size: 15pt;
    color: rgb(177, 177, 177);
}
p {
    font-size: 12pt ;
    transition: .6s;
}
p:hover {
    font-size: 25pt;
    text-shadow: 6pt 6pt 6pt rgb(79, 86, 185);
    color: rgb(216, 255, 77);
}

p.Fim {
    font-size: 15pt;
    transition: 1s;
}
p.Fim:hover {
    font-weight: bolder;
    font-size: 20pt;
    text-shadow: 3pt 6pt 6pt rgb(110, 109, 212);
    color: yellow;
}

div.div1 {
    max-width: 800px;
    place-items: right;
}

nav.menu {
    display: inline-block;
}

nav.menu ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    top: -25px;
    left: -150px;
}
nav.menu li{
    font-size: 13pt;
    display: inline-block;
    background-color: rgba(122, 122, 255, 0.1);
    padding: 10px;
    margin: 2px;
    transition:all 0.6s;
}
nav.menu li:hover { 
    font-size: 19pt;
    background-color: rgba(226, 255, 119, 0.1);
    text-shadow: 6px 6px 5px black;
}
nav.menu a {
    color: rgb(139, 139, 139);
    text-decoration: none;
    transition: all 0.6s;
}
nav.menu a:hover {
    color: white;
}