div.parte1, div.parte2{
    background-color: rgba(105, 94, 255, 0.2);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 3%;
}
div.parte1 p, div.parte2 p{
    
    display: flex;
    width: 600px;
    place-items: right;
    font-size: 12pt ;
    transition: .6s;
    text-indent: 15px;
}
div.parte1 p:hover, div.parte2 p:hover{
    font-size: 25pt;
    text-shadow: 6pt 6pt 6pt rgb(79, 86, 185);
    color: rgb(204, 255, 17);
}