
table{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 6% auto auto auto;
    width: 50%;
    display: grid;
    place-items: center;
    padding: 20px;
    border: 2px solid rgba(73, 73, 73, 0.5) ;
    text-shadow: 1pt 1pt 3pt rgba(85, 88, 250, 0.5);
    box-shadow: 6pt 6pt 6pt rgba(91, 131, 206, 0.5) ;

}

td, tr {
    border: 2px solid rgb(95, 95, 95) ;
    padding: 2px;
    text-align: center; 
    transition: .6s;
}

tr:hover {
    color: yellow;
    background-color: rgba(150, 138, 255, 0.2);
}
 
td.obs {
    text-align: left;
}

a.voltar {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-size: 20pt;
    font-weight: bolder;
    margin-top: 30px;
    transition: .6s;
}
a.voltar:hover {
    color: rgba(252, 255, 97, 0.8);
    font-size: 30pt;
    text-shadow: 3pt 3pt 3pt rgba(0, 0, 0, 0.8);
}